<div class="umb-panel-header">
    <div class="row-fluid">

        <div class="span7">                
                <umb-content-name
                    ng-disabled="content.isSystem == 1"
                    placeholder="@placeholders_entername"
                    ng-model="name">
                </umb-content-name>


                <div ng-transclude></div>
        </div>
        
        <div class="span5">
            <div class="pull-right" style="padding: 15px 20px 0px 0px">
                <umb-editor-actions ng-if="actions" actions="actions"></umb-editor-actions>
                <umb-editor-menu ng-if="menu" menu="menu"></umb-editor-menu>
            </div>
        </div>

    </div>
</div>