<div class="umb-overlay-body">
		
		<h5>Description</h5>
        <textarea rows="2" style="display: block; width: 100%"></textarea>
        
		<hr>

        <h5>Allow under</h5>
        <small>Allow content of this type to be created underneath these types</small>
        <ul class="unstyled">
            <li><i class="icon icon-folder"></i> Root</li>
            <li><i class="icon icon-home"></i> Homepage</li>
            <li><i class="icon icon-add blue"></i> Add... </li>
        </ul>
        
        <hr>


        <h5>Templates</h5>
        <small>Allow these templates on content of this type</small>
        <ul class="unstyled">
            <li><i class="icon icon-folder"></i> Root</li>
            <li><i class="icon icon-home"></i> Homepage</li>
            <li><i class="icon icon-add blue"></i> Add... </li>
        </ul>

        <hr>
        

        <h5>Composite data</h5>
        <small>Inherite fields and tabs from these types</small>
        <ul class="unstyled">
            <li><i class="icon icon-newspaper"></i> News</li>
            <li><i class="icon icon-home"></i> Meta Data</li>
            <li><i class="icon icon-add blue"></i> Add... </li>
        </ul>

</div>