<div class="umb-overlay-body">
		
        <h5>Description</h5>
        <textarea rows="2" style="display: block; width: 100%" placeholder="Description" ng-bind="property.description"></textarea>

        <h5>Validation</h5>
        <label class="checkbox"><input type="checkbox" ng-bind="property.mandatory" /> Field is mandatory </label>

        <h5>Configuration</h5>
        <umb-property 
            property="preValue" 
            ng-repeat="preValue in model.meh.preValues">
            
            <umb-property-editor model="preValue" is-pre-value="true"></umb-property-editor>
        </umb-property>
</div>